/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #131415;
  font-size: 24px;
  --gradient-angle: to right;
  --ink-light: #fff;
  --spacing-txt: 0.375rem 0;
  --text-white: #fff;
  --text-primary: "Cormorant", serif;
  --text-second: "Montserrat", serif;
  --vienna-roast: hsl(324, 86%, 8%);
  --spanish-purple: hsl(331, 91%, 22%);
  --mushroom-cream: hsl(28, 54%, 83%);
  --red-orpiment: hsl(7, 38%, 55%);
  --prim-background: #040404;
  --bg--motion-lines: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%2348291d' fill-opacity='0.4' fillRule='evenodd'/%3E%3C/svg%3E");
}
::selection {
  background: #dd796f;
}
@media (max-width: 56.25rem) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 37.5rem) {
  :root {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Cormorant", serif;
}
body::before {
  content: "";
  position: fixed;
  z-index: -1;
  display: block;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: var(--bg--motion-lines);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.sub--page h2 span {
  @apply pr-2 relative bg-opacity-0;
  background-color: var(--red-orpiment);
}
.sub--page h2::after {
  @apply absolute bottom-2 left-0 h-1 border-solid border-redorpiment;
  right: 10%;
  bottom: 5px;
  content: "";
  z-index: -1;
  border-bottom-width: 1px;
  width: 40%;
}
.prim-background {
  background: var(--prim-background);
}
header nav a {
  color: var(--mushroom-cream);
}
header nav a,
button {
  font-family: var(--text-second);
}
.fp-more:hover svg {
  color: var(--spanish-purple);
}
@property --angle {
  syntax: "<angle>";
  initial-value: 25deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
.page-title {
  color: var(--mushroom-cream);
  z-index: 999;
  @apply -mb-1 md:mt-0 text-3xl font-medium bg-spanish py-3 px-4 inline-block;
  animation-name: heading-animation;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
}
@keyframes heading-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  0% {
    -webkit-transform: translateX(0.4rem);
    -moz-transform: translateX(0.4rem);
    transform: translateX(0.4rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
p {
  margin: var(--spacing-txt);
  color: var(--text-white);
}
p.no-margin {
  margin: 0 !important;
}
.btn a {
  @apply p-2 border-2 border-opacity-80 border-gray-400 hover:border-gray-200 hover:text-gray-100;
}
.contact-btn:hover svg {
  @apply transform translate-x-1;
}
.alpha {
  font-family: "Montserrat", sans-serif;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
.spotify-bg {
  background-color: var(--mushroom-cream);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fillRule='evenodd'%3E%3Cg fill='%2339373c' fill-opacity='0.42'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg--motion-lines-alt {
  background-color: var(--red-orpiment);
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%2348291d' fill-opacity='0.075' fillRule='evenodd'/%3E%3C/svg%3E");
}
.vzion-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 120ch;
  @apply mx-auto flex;
}
.solid-sq {
  height: 25.5rem;
}
.gradient--bg {
  background: linear-gradient(114deg, #2b031b, #6c0536);
  background-size: 180% 180%;
  animation: gradient-animate 4s ease infinite;
  min-width: 12rem;
}
@keyframes gradient-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer--container {
  @apply pb-0 pt-0;
}
.vzion-icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.5rem;
  padding: 0;
  position: relative;
  margin-right: 1rem;
}
.icon-footer-row a {
}
/* 
Project Landing Page */
.masonry-2col {
  @apply mx-auto flex flex-col flex-wrap;
}
@media (min-width: 45.5rem) {
  .masonry-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .masonry-1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .masonry-2 {
    grid-area: 1 / 2 / 5 / 3;
  }
  .masonry-3 {
    grid-area: 2 / 1 / 4 / 2;
  }
}
.project-wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(30px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
}
.project-vert {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: var(--text-second);
  @apply text-green-400 opacity-30 text-2xl uppercase font-normal;
}
h1.page-title.projects:after {
  content: "project";
  font-family: "Montserrat", sans-serif;
  right: -75px;
  bottom: -28px;
  @apply absolute font-light text-gray-300 text-sm h-8 p-2 bg-gray-800 capitalize tracking-wide shadow-xl inline-block  align-middle;
}
@media (max-width: 513px) {
  h1.page-title.projects:after {
    right: -52px;
    bottom: -20px;
  }
}
.iframe-spotify {
  outline: solid 0.95rem rgba(42, 3, 26, 0.125);
  outline-offset: 0px;
}
/* 
need to add the filters plugin https://github.com/benface/tailwindcss-filters */

.btn-alt1 {
  background: var(--spanish-purple);
  border: 1px solid var(--spanish-purple);
}
.btn-alt2 {
  background: var(--mushroom-cream);
  border: 1px solid var(--mushroom-cream);
}
.btn-alt3 {
  background: var(--red-orpiment);
  border: 1px solid var(--red-orpiment);
}
button:hover svg {
  @apply transform-gpu translate-x-1 text-gray-200;
}
/* Spanish Purple
hsl(331,91%,22%)
rgb(107,4,54)
#6c0536

Red Orpiment
hsl(10,55%,57%)
rgb(206,106,85)
#ce6b55

Cream of Mushroom
hsl(28,54%,83%)
rgb(235,211,189)
#ecd4bd

Vienna Roast
hsl(324,86%,8%)
rgb(42,3,26) */
