/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #131415;
  font-size: 24px;
  --gradient-angle: to right;
  --ink-light: #fff;
  --spacing-txt: 0.375rem 0;
  --text-white: #fff;
  --text-primary: "Cormorant", serif;
  --text-second: "Montserrat", serif;
  --prim-background: #040404;
  --prim-bg-red: #7f1d1d;
  --prim-bg-green: #2d4d4e;
  --prim-bg-blue: #526b89;
}
::selection {
  background: #dd796f;
}
@media (max-width: 56.25rem) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 37.5rem) {
  :root {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Cormorant", serif;
}
.sub--page h2 span {
  @apply pr-2 relative;
  background: var(--prim-background);
}
.sub--page h2::after {
  @apply absolute bottom-0 left-0 right-4 h-3.5 border-solid border-green-800;
  content: "";
  z-index: -1;
  border-top-width: 1px;
}
.prim-background {
  background: var(--prim-background);
}
.prim-bg-red {
  background: var(--prim-bg-red);
}
.prim-bg-green {
  background: var(--prim-bg-green);
}
.prim-bg-blue {
  background: var(--prim-bg-blue);
}
header nav a,
button {
  font-family: var(--text-second);
}
@property --angle {
  syntax: "<angle>";
  initial-value: 25deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
.page-title {
  color: var(--text-white);
  z-index: 999;
  margin-bottom: -1rem;
  overflow: overlay;
  @apply text-3xl bg-gradient-to-r from-red-700 to-red-800 py-3 px-4 inline-block;
  animation-name: heading-animation;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
}
@keyframes heading-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  0% {
    -webkit-transform: translateX(0.4rem);
    -moz-transform: translateX(0.4rem);
    transform: translateX(0.4rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
p {
  margin: var(--spacing-txt);
  color: var(--text-white);
}
p.no-margin {
  margin: 0 !important;
}
.btn a {
  @apply p-2 border-2 border-opacity-70 border-gray-400 hover:border-gray-200 hover:text-gray-100;
}
.alpha {
  font-family: "Montserrat", sans-serif;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
.spotify-bg {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='46' viewBox='0 0 70 46'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2339373c' fill-opacity='0.42'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.vzion-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 120ch;
  @apply mx-auto flex;
}
.solid-sq {
  height: 21rem;
}
.gradient--bg {
  background: linear-gradient(114deg, #526b89, #2d4d4e, #7f1d1d);
  background-size: 180% 180%;
  animation: gradient-animate 5s ease infinite;
}
@keyframes gradient-animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* .vzion--wrapper {
  height: 750px;
  width: 49%;
  margin: 0;
  padding 0;
  position: absolute;
  top: 0;
  left: 0;
  background: #526B89;
} */
/* #site-footer .vzion-wrapper {
  padding-top: 5rem;
  padding-bottom: 5rem;
} */
.footer--container {
  @apply pb-0 pt-0;
}
.vzion-icon-button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.5rem;
  padding: 0;
  position: relative;
  margin-right: 1rem;
  width: 95px;
  height: 95px;
}
.icon-footer-row a {
}
/* 
Project Landing Page */

.project-wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
}
.project-vert {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: var(--text-second);
  @apply text-green-400 opacity-30 text-2xl uppercase font-extrabold;
}

/* 
need to add the filters plugin https://github.com/benface/tailwindcss-filters */

.btn-alt1 {
  background: #526b89;
  border: 1px solid #526b89;
}
.btn-alt2 {
  background: #2d4d4e;
  border: 1px solid #2d4d4e;
}
.btn-alt3 {
  background: #cfe6f5;
  border: 1px solid #cfe6f5;
}
