.body {
  background: black;
}

.project-wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px) saturate(100%) contrast(45%) brightness(130%);
  content: "";
}
/* 
need to add the filters plugin https://github.com/benface/tailwindcss-filters */

.btn-1,
.footer {
  background: #526b89;
  border: 1px solid #526b89;
}
.btn-2 {
  background: #2d4d4e;
  border: 1px solid #2d4d4e;
}
.btn-3 {
  background: #cfe6f5;
  border: 1px solid #cfe6f5;
}
